@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');
/* layout */

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
:root {

  --error: #e7195a;
}
 form input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%; 
  border: 1px solid #ddd; 
  border-radius: 4px;
  box-sizing: border-box;
}
form button {
  
  border: 0;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
input.error {
  border: 1px solid var(--error);
}
form.signup, form.login {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
}